/*-----------MEDIA QUERIES------------*/
@media screen and (max-width: 1200px) {

  html {
    font-size: 9.5px;
  }

}
@media screen and (max-width: 992px) {

  html {
    font-size: 9px;
  }
  .stats__stat {
    width: 50%;
  }
  .gallery__item {
    width: 50%;
  }

}
@media screen and (max-width: 768px) {

  html {
    font-size: 9px;
  }

}
@media screen and (max-width: 480px) {

  html {
    font-size: 8px;
  }
  .menu__toggle {
    display: inline-block;
    margin-right: 2rem;
    z-index: 2;
  }
  .logo {
    z-index: 2;
  }
  .menu__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #222;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
  }
  .menu__list.active {
    opacity: 1;
    visibility: visible;
  }
  .menu__link {
    line-height: 3;
    font-size: 2.5rem;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fff;
      left: 0;
      bottom: -5px;
      transition: transform .3s;
      transform: scaleX(0);
    }
    &:hover:after {
      transform: scaleX(1);
    }
  }
  .header.fixed .menu__link {
    color: #fff;
  }
  .header.fixed .toggle__line {
    background-color: #000;
  }
  .hero {
    padding: 20rem 0 5rem;
    height: 100vh;
  }
  .stats__stat {
    width: 100%;
  }
  .gallery__item {
    width: 100%;
  }

}
